.button-store {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-color: #252c41;
  height: 60px;
  line-height: 60px;
  width: 200px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 0;
}

.button-store.-second{
  background-color: transparent;
  border: 2px solid #fff;
  width: 218px;
  line-height: 56px;
}