.description-store{
  color: #fff;
  font-family: 'Roboto', sans-serif;  
  font-size: 20px;
  display: inline-block;
}
.description-store > .title{
  font-size: 25px;
  margin-bottom: 50px;
}
.description-store > .star{
  margin-bottom: 25px;
}
.description-store > .rating{
  margin-left: 7px;
  margin-bottom: 30px;  
}
.description-store .contrast{
  float: left;
  text-transform: uppercase;
}
.description-store > .info{
  margin-bottom: 25px;
}
.description-store > .info.-item{
  width: 200px;
  text-align: right;
}
.description-store > .info.-item.-last{
  margin-bottom: 72px;
}
.description-store > .text{
  margin-bottom: 25px;
  line-height: 30px;
}
.description-store .anchor{  
  text-decoration: none;
  color: #fff;
}
