.header-store {
  color: #fff;
  overflow: hidden;
}

.header-store > .title {
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  float: left; 
}

.header-store > .navigation {
  font-family: 'Chakra Petch', sans-serif;
  float: right;
  font-size: 21px;
}

.header-store .action {  
  text-decoration: none;  
  color: #fff;
  margin-right: 60px;
}

.header-store .action.-last {
  margin-right: 0;
}
