@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
.header-store {
  overflow: hidden;
  color: #fff;
  margin: 200px;
}

.title {
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  float: left; 
}

.navigation {
  font-family: 'Chakra Petch', sans-serif;
  float: right;
  font-size: 21px;
}

.action {  
  text-decoration: none;  
  color: #fff;
  margin-right: 60px;
}

.last {
  margin-right: 0;
}
