.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}
.header-store > .title {
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-size: 40px;
  float: left;
  cursor: pointer;
}
.header-store > .navigation {
  font-family: "Chakra Petch", sans-serif;
  float: right;
  font-size: 21px;
}

.header-store .action {
  text-decoration: none;
  color: #fff;
  margin-right: 60px;
  position: relative;
}
.header-store .action.-last {
  margin-right: 0;
}
.header-store .action:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 200ms linear;
  transform-origin: center left;
}
.header-store .action:hover:after {
  transform: scale(1);
}
@media (max-width: 1310px) {
  .header-store {
    padding-right: 60px;
    margin-bottom: 35px;
  }
}
@media (max-width: 1235px) {
  .header-store > .title {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  .header-store > .navigation {
    float: none;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .header-store .action {
    margin-right: 30px;
  }
}
@media (max-width: 480px) {
  .header-store .action {
    margin-right: 10px;
  }
}
@media (max-width: 440px) {
  .header-store .action {
    margin-right: 2px;
  }
}
@media (max-width: 390px) {
  .header-store {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-store .action {
    margin-right: 4px;
  }
}
@media (max-width: 339px) {
  .header-store .action {
    display: none;
  }
}
