.photo-store {
  background-color: #fff;
  display: inline-block;
  height: 554px;
  vertical-align: middle;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 157px;
}
.photo-store > .heart {
  float: right;
  position: absolute;
  margin-top: 40px;
  margin-left: 70px;
  cursor: pointer;
  transition: transform 100ms linear;
}
.photo-store > .heart:hover {
  transform: scale(1.3);
}
.photo-store > .heart.-active {
  background-color: #fff;
}
@media (max-width: 1325px) {
  .photo-store {
    margin-right: 140px;
    text-align: center;
  }
}
@media (max-width: 1310px) {
  .photo-store {
    display: block;
    border-radius: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .photo-store > .heart {
    display: none;
  }
}
@media (max-width: 560px) {
  .photo-store {
    height: auto;
  }
  .photo-store > .fone {
    width: 100%;
  }
}
