.photo-store{
  background-color: #fff;
  display: inline-block;
  height: 554px;
  vertical-align: middle;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  margin-right: 157px;
}
.photo-store > .coracao{
  float: right;
  position: absolute;
  margin-top: 40px;
  margin-left: 70px;
}